<!DOCTYPE html>
<html>
  <head>
    <title>Dripart</title>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!-- Main CSS Framework: Bulma -->
    <%= stylesheet_link_tag '//cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css'%>
    <!-- Main Font: Roboto -->
    <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Roboto' %>
    <!-- Favicon -->
    <%= favicon_link_tag 'favicon.ico' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
